/**********************************************/
/*** MARKET BULLETIN MATERIALS DASHBOARD ***/
/**********************************************/



/*********************************/
/*****  TYPOGRAPHY  & HTML    ***/
/*********************************/

    body, 
    select{
        font-family: 'DIN Next LT Pro';
        color: var(--xCharcoal);
        margin: 0;
    }
    .hidden{
        display: none
    }
    h1.vis-header{ 
        font-size: 4vw;
        margin-block-end: 0rem;
        color: var(--tertiaryEmerald);  
        font-weight: 500;
    }
    .selector-container,
    .dropdown-container select{
        color: var(--xCharcoal);
        font-size: 1.75vw;
    }
    .dropdown-container{
        display: inline-flex;
        padding: 0.5rem 0rem 0.5rem 0rem;
    }
    .dropdown-container select{
        border: none;
        border-bottom: dotted 0.5px var(--xCharcoal);
    }

    /* Typeface colours grouped */
    h4.subcard-header,
    h4.material-price-card-header,
    .material-volume-headline,
    .material-price-headline{
        color: var(--xCharcoal);
    }    
    .text-minor,
    .chart-trend-label{
        color: var(--secondaryGrey); 
    }
    .label,
    h3.card-subheader{
        color: var(--secondaryBottleGreenLight);
        color: var(--xCharcoal);
        font-weight: 500;
    }
    /* Typeface size grouped */
    .material-volume-headline,
    .material-price-headline{
        font-size: 5vw;
    }
    .data-midsize,
    .data-unit-midsize{
        font-size: 3.5vw;
    }
    h3.card-subheader{
        font-size: 2.5vw;
        text-transform: uppercase;
    }
    h4.subcard-header,
    h4.destination-card-header,
    h4.material-price-card-header{
        font-size: 2.0vw;
    }
    .label,
    .destination-label,
    .data-destination-table, 
    .material-volume-unit,
    .material-price-unit {
        font-size: 1.75vw;
    }
    .text-minor,
    .table-header-bold, 
    .table-header, 
    .table-data, 
    .chart-trend-label{
        font-size: 1.5vw;
    }

    /* Typeface settings */
    h2.card-header{
        font-size: 3vw;
        color: transparent; 
        text-stroke: 0.75px var(--secondaryBottleGreen);
         -webkit-text-stroke: 0.75px var(--secondaryBottleGreen);
        margin-block-start: 0.25rem;
        margin-block-end: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;        
    }
    h3.card-subheader{
        margin-block-end: 0.75rem;
        border-bottom: solid 2px var(--xCharcoal);
    }
    h3.card-subheader.destination-trend{  
        margin-top: 2vw;
        margin-block-end: 0.0;
    }    
    h4.subcard-header,
    h4.destination-card-header,
    h4.material-price-card-header{
        margin-block-start: 0.0;
        margin-block-end: 0.0;
        font-weight: 500;
    }
    h4.material-price-card-header, 
    h4.subcard-header.destination{
        padding-bottom: 0.5rem;
        color: var(--secondaryBottleGreen);
    }
    h4.subcard-header.destination{
        padding-top: 1rem;
    }
    /* Labels and table typography */
    .align-right{
        text-align: right
    }
    .price-label{
        padding-bottom: 0.5rem;  
        color: var(--secondaryBottleGreenLight);  
    }
    .price-performance-label,
    .price-history-label{
        padding-top: 0.5rem;      
        padding-bottom: 0.25rem;      
    }
    .table-header-bold{
        justify-self: end;
    }
    .table-header,
    .table-data, 
    .chart-trend-label{
        padding: 0.25rem 0;
    }
    .destination-label,
    .data-destination-table {
        font-weight: 500;
    }
    .material-volume-headline,
    .material-price-headline{
        grid-area: 1 / 1 / 2 / 2;
        font-weight: 500;    
        align-self: end;
        justify-self: end;
        margin-top: 1rem;
    }
    .material-volume-unit,
    .material-price-unit{
        grid-area: 1 / 2 / 2 / 3;
        align-self: end;
        padding: 0 0 0.5rem 0.5rem;
    }


/*****************************************************/
/**** KERBSIDE COLLECTION DESTINATION COLOUR PALETTE */
/****************************************************/
    .stroke{
        fill: none;
    }
    .fill{
        stroke: none;
    }
    .label.all,
    .all{
        color: var(--secondaryBottleGreen);
    }
    .all.stroke{
        stroke: var(--secondaryBottleGreen);
    }
    .all.fill{
        fill: var(--secondaryBottleGreen);
    }

    .label.local-reprocessing,
    .local-reprocessing{
        color: var(--secondaryBottleGreen);
    }
    .local-reprocessing.stroke{
        stroke: var(--secondaryBottleGreen);
    }
    .local-reprocessing.fill{
        background-color: var(--secondaryBottleGreen);
        fill: var(--secondaryBottleGreen);
    }
    .label.export,
    .export{
        color: var(--tertiaryEmeraldLight);
    }
    .export.stroke{
        stroke: var(--tertiaryEmeraldLight);
    }
    .export.fill{
        background-color: var(--tertiaryEmeraldLight);
        fill: var(--tertiaryEmeraldLight);
    }
    .label.landfill,
    .landfill{
        color: var(--tertiaryCard);
    }
    .landfill.stroke{
        color: var(--tertiaryCard);
    }
    .landfill.fill{
        background-color: var(--tertiaryCard);
        fill: var(--tertiaryCard);
    }


/*****************************/
/**** SCREEN PAGE LAYOUT  ****/
/*****************************/

    body{
        padding: 1rem
    }

    /* Default Container layout: works for Glass, Metals, Paper and Paperboard which have less than 5 material prices */
    main.main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 5vw; 
        grid-row-gap: 1vw; 
    }
    main.single-component.main-container{
            grid-column-gap: 0vw; 
    }
    /* Top level grid tile layout */
    .title-container{
        grid-area: 1 / 1 / 2 / 3;
    }
    .sub-card{
        opacity: 0
    }

    /* Plastic packagingContainer layout to accommodate more prices */
    main.main-container.plastic-packaging{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    /* Top level grid tile layout */
    .plastic-packaging .material-flow-container{
        grid-area: 2 / 1 / 3 / 2;
        width: 50%;
        height: fit-content
    }
    .plastic-packaging .material-price-container{
        grid-area: 3 / 1 / 4 / 2;
    }
    .plastic-packaging .export-market-container{
        grid-area: 4 / 1 / 5 / 2;
    }

    /** MATERIAL FLOW CARD **/
    .material-collection-container{
        display: grid;
        grid-template-columns: 2fr  3fr;
        grid-column-gap: 2vw;  
    }
        .recyclables-collected-container{
            grid-area: 1 / 1 / 2 / 2;
        }
        .recyclables-destination-container{
            grid-area: 1 / 1 / 2 / 2;
        }
        .card-header-container{
            grid-area: 1 / 1 / 2 / 3;
            border-bottom: 2px solid var(--secondaryGrey);
        }
        .recyclables-collected-container{
            grid-area: 3 / 1 / 4 / 2;
            display: grid;
            grid-template-columns: 1.5fr 2.5fr;   
            grid-template-rows: auto auto auto;    
        }
            .collected-subheader{
                grid-area: 1 / 1 / 2 / 4;
            }
            .material-volume-headline-container{
                grid-area: 2 / 1 / 3 / 3;
            }
            .collected-total{
                grid-area: 2 / 1 / 3 / 4;   
            }
            .collected-vs-last-label{
                grid-area: 3 / 1 / 4 / 2;   
            }
            #collected-vs-last-change{
                grid-area: 3 / 2 / 4 / 3;   
                padding-left: 0.5rem;
            }
            #collected-vs-last-pct{
                grid-area: 4 / 2 / 5 / 3; 
                padding-left: 0.5rem;   
            }

        .recyclables-destination-container{
            grid-area: 3 / 2 / 4 / 3;   
        }
        .recyclables-destination-container-rows{
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
        }  
            .recyclables-destination-container-rows.header{
                padding-bottom: 0.75rem
            } 
            .table-chart-bar{
                margin-bottom: 0.75rem; 
                height: 2px;
            }
            .destination-subheader{
                padding-bottom: 0.5rem;
            }
            .destination-label{
                grid-area: 1 / 1 / 2 / 2; 
            }
            .data-destination-table.tonnes{
                grid-area: 1 / 2 / 2 / 3; 
            }
            .data-destination-table.proportion{
                grid-area: 1 / 3 / 2 / 4; 
            }
            .destination-table-bar-container{
                grid-area: 2 / 1 / 3 / 2; 
            }
            #collection-trend-comparison-container{
                padding-top: 1rem;
            }
            .material-destination-trends{
                grid-area: 3 / 1 / 4 / 2;
            }
        .material-destination-container{
            display: grid;
            grid-template-columns: 2fr  3fr;
            grid-column-gap: 2vw;  
            padding-top: 1vw;
            padding-bottom: 2vw;
        }

        .destination-trend-chart-container{
            grid-area: 1 / 1 / 2 / 2;     
        }
        .destination-trend-table-container{
            grid-area: 1 / 2 / 2 / 3;     
        }
        .destination-trend-table-container-row{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        }  
        .destination-trend-table-container-row.header{
            padding-top: 0.25rem; 
            border-bottom: 0.25px dotted var(--secondaryGreyLight);
        }
            .data-destination-table-label{
                grid-area: 1 / 1 / 2 / 2; 
            }
            .data-destination-table-3mth{
                grid-area: 1 / 2 / 2 / 3; 
            }
            .data-destination-table-1yr{
                grid-area: 1 / 3 / 2 / 4; 
            }        
            .data-destination-table-3yr{
                grid-area: 1 / 4 / 2 / 5; 
            }   
            .data-destination-table-5yr{
                grid-area: 1 / 5 / 2 / 6; 
            }   


    /** MATERIAL PRICE CARDS **/
        .material-price-card-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10vw;
        }
        .plastic-packaging  .material-price-card-container{ 
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5vw;
        }

        .material-price-card{
            padding-bottom: 5vw;
        }
        .material-price-performance-table-container,
        .material-history-performance-table-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .material-price-performance-table-container.header,
        .material-history-performance-table-container.header{
            padding-top: 0.25rem; 
            border-bottom: 0.25px dotted var(--secondaryGrey);
        }
            .material-price-trend-header,
            .table-price-trend-chart-container{
                grid-area: 1 / 1 / 3 / 2; 
                align-self: center;
            }
            .material-price-comp-header{
                grid-area: 1 / 2 / 2 / 5; 
                text-align: right;
            }
            .material-price-table-trend,
            .material-history-table-period{
                grid-area: 1 / 1 / 2 / 2; 
            }
            .material-price-table-1mth,
            .material-history-table-low{
                grid-area: 1 / 2 / 2 / 3; 
            }
            .material-price-table-3mth,
            .material-history-table-ave{
                grid-area: 1 / 3 / 2 / 4; 
            }
            .material-price-table-12mth,
            .material-history-table-high{
                grid-area: 1 / 4 / 2 / 5; 
            }
            .material-price-lastMth-header{
                grid-area: 2 / 2 / 3 / 3; 
            }
            .material-price-3mth-header{
                grid-area: 2 / 3 / 3 / 4; 
            }
            .material-price-12mth-header{
                grid-area: 2 / 4 / 3 / 5; 
            }


    /** EXPORT MARKET CARDS **/
        #export-market-subheader{
            padding: 1rem 0rem;
            border-top: solid 2px var(--xCharcoal);
        }
        .export-market-table-rows{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 2.5vw 1fr 1fr 1fr 1fr;
            padding: 0.25rem 0.25rem;
            border-bottom: 0.25px solid #efeeee;
        }
        .export-market-table-header-volumes{
            grid-area: 1 / 3 / 2 / 5; 
            text-align: center;
            font-weight: 500;
        }
        .export-market-table-header-vsHistorical{
            grid-area: 1 / 6 / 2 / 10; 
            text-align: center;
            font-weight: 500;
        }
        .export-market-table-country-header{
            grid-area: 1 / 1 / 2 / 2;     
        }
        .export-market-table-trend-header{
            grid-area: 1 / 2 / 2 / 3;     
        }
        .export-market-table-currentMonth-header{
            grid-area: 1 / 3 / 2 / 4;     
        }
        .export-market-table-lastMonth-header{
            grid-area: 1 / 4 / 2 / 5;     
        }
        .export-market-table-3mth-header{
            grid-area: 1 / 6 / 2 / 7;     
        }
        .export-market-table-1yr-header{
            grid-area: 1 / 7 / 2 / 8;     
        }
        .export-market-table-3yr-header{
            grid-area: 1 / 8 / 2 / 9;     
        }
        .export-market-table-5yr-header{
            grid-area: 1 / 9 / 2 / 10;     
        }
        .export-market-table-country-name{
            grid-area: 1 / 1 / 3 / 2;  
            font-weight: 500;   
        }
        .export-market-table-trend-chart{
            grid-area: 1 / 2 / 3 / 3;     
        }
        .export-market-table-currentMonth{
            grid-area: 1 / 3 / 2 / 4;     
        }
        .export-market-table-currentMonth-comp{
            grid-area: 2 / 3 / 3 / 4;     
        }
        .export-market-table-lastMonth{
            grid-area: 1 / 4 / 2 / 5;     
        }
        .export-market-table-lastMonth-comp{
            grid-area: 2 / 4 / 3 / 5;     
        }
        .export-market-table-3mth{
            grid-area: 1 / 6 / 2 / 7;     
        }
        .export-market-table-3mth-comp{
            grid-area: 2 / 6 / 3 / 7;     
        }
        .export-market-table-1yr{
            grid-area: 1 / 7 / 2 / 8;     
        }
        .export-market-table-1yr-comp{
            grid-area: 2 / 7 / 3 / 8;     
        }
        .export-market-table-3yr{
            grid-area: 1 / 8 / 2 / 9;     
        }
        .export-market-table-3yr-comp{
            grid-area: 2 / 8 / 3 / 9;     
        }
        .export-market-table-5yr{
            grid-area: 1 / 9 / 2 / 10;     
        }
        .export-market-table-5yr-comp{
            grid-area: 2 / 9 / 3 / 10;     
        }


/* CHART STYLING */
    path.sparkline{
        fill: none;
        stroke:   var(--secondaryBottleGreen);
        stroke-width: 3px;
    }
    circle.sparkline-start-point{
        fill:  var(--secondaryBottleGreen);
        r: 5px;
    }
    circle.sparkline-end-point{
        fill: var(--secondaryBottleGreenLight);
        r: 8px;
    }
    path.sparkarea{
        stroke: none;
    }

    #destination-trend-chart .sparkarea{
        fill: url("#diagonalHatch-all");
    }
    #local-reprocessing-trend-chart .sparkarea{
        fill: url("#diagonalHatch-local-reprocessing");
    }
    #export-trend-chart .sparkarea{
        fill: url("#diagonalHatch-export");
    }
    #landfill-trend-chart .sparkarea{
        fill: url("#diagonalHatch-landfill");
    }

/*** SETTINGS CONTROLS ***/
    #settings-container{
        position: fixed;
        top: 0;
        right: 0;
        width: 20vw;
        padding: 1rem 1rem 0rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
    }


/*****************************/
/** Neumorphic fun styling  **/
/*****************************/

    .neumorphic h1#material-title{
        text-stroke: none;
        -webkit-text-stroke: none;
        font-size: 8vw; 
        color: #fff;
        text-shadow: 5px 5px 10px #c9c9c9
    }

    /* .neumorphic  */
    .card{
        margin: 0.75rem 0 ;
        padding: 0.75rem 1.5rem 0;
        border-radius: 6px;
        background: #ffffff;
        box-shadow:  8px 8px 16px #c9c9c9, 
                -8px -8px 16px #ffffff;	
    }


/****************************************/
/*** HTML STEPPER NAVIGATION STYLING  ***/
/****************************************/

    .stepper-container {
        position: relative;
        overflow: hidden;
        margin: 0 auto 1vw auto;
        width: 100%;
        border-top: solid var(--secondaryGrey) 1px;
        color: var(--secondaryGrey);
        margin-top: 1vw;
        font-size: 2vw;
    }
    .stepper-container nav {
        text-align: center;
        background: #fff;
    }
    .stepper-container nav ul {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        -ms-box-pack: center;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        align-items: center;
    }
    .stepper-container nav ul li {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        cursor: pointer;
    }
    .stepper-container nav a {
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.5;
    }
    .stepper-container nav a span {
        vertical-align: middle;
    }
    .stepper-container nav a:focus {
        outline: none;
    }
    .stepper-container nav li:last-child::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: var(--tertiaryEmerald);
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    /* Stepper underline */
    .stepper-container nav li:first-child.step-current ~ li:last-child::before {
        -webkit-transform: translate3d(-300%,0,0);
        transform: translate3d(-300%,0,0);
    }
    .stepper-container nav li:nth-child(2).step-current ~ li:last-child::before {
        -webkit-transform: translate3d(-200%,0,0);
        transform: translate3d(-200%,0,0);
    }
    .stepper-container nav li:nth-child(3).step-current ~ li:last-child::before {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    .stepper-container nav a {
        padding: 0.75rem 0.2rem 1.25rem 0.2rem;
        line-height: 1;
        -webkit-transition: color 0.3s, -webkit-transform 0.3s; 
        transition: color 0.3s, transform 0.3s;
        font-weight: 400;
    }
    .stepper-container nav li.step-current a {
        -webkit-transform: translate3d(0,8px,0);
        transform: translate3d(0,8px,0);
        color: var(--tertiaryEmerald);
    }
    @media screen and (max-width: 58em) {
        .stepper-container nav a:before {
            margin-right: 0;
        }
    }
