/*****************************************************/
/*** KERBSIDE COLLECTION TO MRF FLOW VISUALISATION ***/
/*****************************************************/

/*************************/
/*  HTML LAYOUT STYLING  */
/************************/
    body, select{
        font-family: 'DIN Next LT Pro';
        color: var(--xCharcoal)
    }
    h1.vis-header{ 
        font-size: 4vw;
        margin-block-end: 0rem;
        color: var(--tertiaryEmerald);  
        font-weight: 500;
    }
    .date-selector-container,
    .dropdown-container select{
        font-size: 1.75vw;
    }
    .stepper-container nav a{
        color: var(--secondaryGrey);
        font-size: 2vw;
        font-weight: 400;
    }
    .stepper-container nav li.step-current a {
        color: var(--tertiaryEmerald);
        font-weight: 500;
    }
    .hidden{
        display: none;
    }
    .date-selector-container{
        display: inline-flex;
        padding: 0.5rem 0rem 1.5rem 0rem;
    }
    .dropdown-container select{
        border: none;
        border-bottom: dotted 0.5px var(--xCharcoal);
        margin-right: 0.75rem;
    }

/****************************************/
/*** HTML STEPPER NAVIGATION STYLING  ***/
/****************************************/

    .stepper-container {
        position: relative;
        overflow: hidden;
        margin: 0 auto 2rem auto;
        width: 100%;
        border-top: solid var(--secondaryGrey) 1px;
        font-size: 2vw;
    }
    .stepper-container nav {
        text-align: center;
        background: #fff;
    }
    .stepper-container nav ul {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        -ms-box-pack: center;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        align-items: center;
    }
    .stepper-container nav ul li {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        cursor: pointer;
    }
    .stepper-container nav a {
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.5;
    }
    .stepper-container nav a span {
        vertical-align: middle;
    }
    .stepper-container nav a:focus {
        outline: none;
    }
    .stepper-container nav li:last-child::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: var(--tertiaryEmerald);
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    /* Stepper underline */
    .stepper-container nav li:first-child.step-current ~ li:last-child::before {
        -webkit-transform: translate3d(-300%,0,0);
        transform: translate3d(-300%,0,0);
    }
    .stepper-container nav li:nth-child(2).step-current ~ li:last-child::before {
        -webkit-transform: translate3d(-200%,0,0);
        transform: translate3d(-200%,0,0);
    }
    .stepper-container nav li:nth-child(3).step-current ~ li:last-child::before {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    .stepper-container nav a {
        padding: 0.75rem 0.2rem 1.25rem 0.2rem;
        line-height: 1;
        -webkit-transition: color 0.3s, -webkit-transform 0.3s; 
        transition: color 0.3s, transform 0.3s;
        font-weight: 400;
    }
    .stepper-container nav li.step-current a {
        -webkit-transform: translate3d(0,8px,0);
        transform: translate3d(0,8px,0);
        color: var(--tertiaryEmerald);
    }
    @media screen and (max-width: 58em) {
        .stepper-container nav a:before {
            margin-right: 0;
        }
    }


/*******************************/
/*****  SVG VIS TYPOGRAPHY   ***/
/*******************************/

    /* SVG Flow visualisation typographic elements */
    .title-label-group{
        cursor: pointer;
        text-transform: uppercase;
    }
    .title-label{
        font-size:      60px;
        font-weight:    600;
        text-anchor:    middle;
    }
    .title-label.small{
        font-size: 32px;
    }
    .title-label.collection,
    .node-group-arrow.collection{ 
        fill: url(#collection-gradient)
    }
    .title-label.destination,
    .node-group-arrow.destination{
        fill: url(#destination-gradient)
    }
    .title-label.recycling,
    .node-group-arrow.recycling{
        fill: url(#recycling-gradient)
    }
    text.label.node,
    text.label.node.unit{
        pointer-events: none;
        fill: #fff;
        text-anchor: middle;
        font-weight: 500;
        stroke: none;
        letter-spacing: -1px;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
        -webkit-background-clip: text;
            -moz-background-clip: text;
                background-clip: text;
            }
    text.label.node.unit{
        letter-spacing: 0px;
    }
    .linkLabel,
    .nodeLabel.textOnPath{
        font-size: 20px;
        font-weight: 500;
        pointer-events: none;
    }
    .linkLabel{
        text-shadow: #fff 1px 1px 3px;
    }
    .nodeLabel.textOnPath{
        text-shadow: #fff 5px 5px 10px;
    }
    .node-label-centered{
        pointer-events: none;
    }
    .system-contamination{
        stroke: var(--xCharcoal);
        stroke-width: 1.5px;
        fill: transparent;
    }
    .system-contamination.title{
        font-weight: 800;
        font-size: 100px;
    }
    .system-contamination.sub-title{
        font-weight: 800;
        font-size: 50px;
    }
    .system-recovery{
        font-weight: 800;
        fill:  var(--xCharcoal);
    }
    .system-recovery.title{
        fill:  var(--xCharcoal);
        font-size: 180px;
        letter-spacing: -2px
    }
    .system-recovery.sub-title{
        font-size: 80px;
    }
    .system-title-figure{
        font-weight: 800;
        font-size: 200px;
        stroke: var(--secondaryBottleGreenLight);
        fill: transparent;
    }
    #step-annotation{
        pointer-events: none;
        font-size: 46px;
        dominant-baseline: middle;
        text-anchor: middle;
        fill: var(--secondaryGrey);
    }

    /**********************************/
    /*** SVG FLOW VIS LAYER STYLING ***/
    /**********************************/
    .layer{
        transition: transform 3s ease-in-out;	
        transform-origin: 50% 50% 0px;	
    }
    .layer.isometric{
        transform: rotateY(0deg) rotateX(55deg) rotateZ(45deg) scale(0.95);
        transform-origin: 50% 50% 0px;
    }
    .illustration-group-layer{
        pointer-events: none;
    }
    /************************************/
    /*** SVG FLOW VIS ELEMENT STYLING ***/
    /************************************/
    .node,
    .link{
        cursor: pointer;
    }
    .node.source,
    .node.target{
        stroke: #fff;
        stroke-width: 8px;
    }
    .node-arrow{
        fill: #fff;
        opacity: 0.25;
    }
    .linkLabel.local-reprocessing,
    .linkLabel.local-reprocessing.destination-colour,
    .node.local-reprocessing, 
    .nodeLabel.local-reprocessing{ 
        fill: var(--secondaryBottleGreen);
    }
    .node.export{ 
        fill: var(--secondaryBottleGreenLight);
    }
    .linkLabel.export,
    .linkLabel.export.destination-colour,
    .nodeLabel.export{ 
        fill: var(--xMidBottleGreen);
    }
    .node.landfill, 
    .nodeLabel.landfill{ 
        fill:  var(--tertiaryCard);
    }
    .linkLabel.paper-and-cardboard, 
    .linkLabel.paper-and-cardboard.collection-colour, 
    .node.paper-and-cardboard, 
    .nodeLabel.paper-and-cardboard{
        fill: var(--xDarkBlueCyan);
    }
    .node.paper-and-cardboard{
        fill: var(--xDarkBlueCyan);
    }
    .linkLabel.glass, 
    .linkLabel.glass.collection-colour, 
    .node.glass, 
    .nodeLabel.glass{ 
        fill:  var(--tertiaryPurpleLight);
    }
    .nodeLabel.glass{ 
        fill:  var(--tertiaryPurpleLight);
    }
    .linkLabel.plastics,
    .linkLabel.plastics.collection-colour,
    .node.plastics,
    .nodeLabel.plastics{ 
        fill: var(--tertiaryYellow);
    }
    .nodeLabel.plastics{ 
        fill: var(--xDarkYellow);
    }

    .linkLabel.metals,
    .linkLabel.metals.collection-colour,
    .node.metals,
    .nodeLabel.metals{ 
        fill: var(--tertiaryBlue);
    }
    .linkLabel.landfill,
    .linkLabel.landfill.destination-colour,
    .linkLabel.contamination,
    .linkLabel.contamination.collection-colour,
    .node.contamination,
    .nodeLabel.contamination{ 
        fill: var(--xDarkCard);
    }

    /* Link styling */
    .link-group{
        mix-blend-mode: multiply;
    }
    .link,
    .annotationPath, 
    .nodeLabelPath,
    .bin-illustration-group path{
        fill: none;
    }
    .link.collection_destination,
    .link.destination_collection,
    .link.destination_landfill,
    .landfill-arrow{
        opacity: 0.25;
    }
    .link.collection_destination.monochrome,
    .link.destination_collection.monochrome,
    .link.destination_landfill.monochrome{
        stroke: #000;
        opacity: 0.1;
    }
    .link.destination_landfill{
        stroke: #000;
    }
    .landfill-arrow{
        fill: #000;
    }
    .annotationPath, 
    .nodeLabelPath{
        stroke: none;
    }

    /* Illustration styling */
    .flow-icon{
        transition: transform 1s ease-in-out;	
        pointer-events: none;
    }
